.buttons {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
}

.root {
  height: 100%;
}

.root :global(.piano-gadget-root) {
  justify-content: center;
}

.root :global(.piano-gadget-noteRender) {  
  transition: .5s ease-out;
}

