.animationContainer2  {
    background: pink;
    height: 70vh;
    width: 70vw;
    position: relative;
}

.text {
    position: absolute;
    margin: 0;
    bottom: 0;
}

.slide-up {
	animation: slide-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

  @keyframes slide-top {
    from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-40vh);
      }
  }