.root {
  height: 100%;
}

.root :global(.piano-gadget-root) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.root :global(.piano-gadget-noteRender) {  
  transition: .5s ease-out;
}

.root :global(.piano-gadget-pianoBody) {
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none;
}
