.root {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.noteRender {  
  transition: .5s ease-out;
}

.pianoBody {
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none;
}